@media only screen and (max-width: 787px) {


  body {
    width: 100%;
  }
  .menu-nav {
    width: 380px;
  }

  .menu-container {
    margin-left: 10px;
  }

  .back-1 {
    display: none;
  }

  .img-menor {
    display: none;
  }

  .back-2 {
    width: 100%;
    margin-left: 0px;
  }

  .img-maior {
    position: relative;
    max-width: 200px;
    margin-left: 160px;
    margin-top: -10px;
  }

  .promo {
    width: 100px;
    height: 200px;
    margin: 50px 70px 0;
    padding: 20px;
  }

  .promo h1 {
    font-size: 3rem;
  }

  #off {
    margin-left: 0px;
  }

  .btn {
    background: #000;
    position: absolute;
    margin-top: -60px;
  }

  .btn:hover {
    color: #000;
    border-color: #000;
    background: #fff;
  }

  .montagem-container {
    width: 380px;
    margin-left: 0;
  }

  .montagem-container ul {
    margin-left: 40px;
  }

  .montagem-container img {
    max-width: 300px;
    margin-bottom: 130px;
  }

  .montagem-container h2 {
    font-size: 3rem;
  }

  .row {
    display: grid;
    width: 380px;
    justify-content: center;
  }

  .mais-vendidos {
    width: 380px;
  }

  .mais-vendidos h3 {
    margin-top: 100px;
    margin-left: 80px;
    text-align: left;
  }

  .mais-vendidos .img-row img {
    width: 260px;
  }

  .mais-vendidos .img-row p {
    font-size: 0.7rem;
  }

  .mais-vendidos .img-row p {
    margin-bottom: 5px;
  }

  .mais-vendidos .img-row .btn-comprar {
    margin-top: 37px;
    width: 130px;
  }

  .mais-vendidos .img-row .btn-olhar {
    margin-left: 20px;
    margin-top: 37px;
  }


  .up-container {
    width: 100%;
  }
  .up-container p {
    text-align: center;
    font-size: 2.5rem;
    padding: 200px 0 0 0;
  }

  .up-container h2 {
    text-align: center;
    font-size: 5.5rem;
    margin-left: 10px;
  }

  .up-container button {
    width: 300px;
    margin-left: 40px;
    margin-top: 40px;
  }

  .up-container button:hover {
    color: #494a4a;
    border-color: #494a4a;
  }

  .urban-container {
    width: 380px;
  }

  .urban-container img {
    width: 122px;
  }

  .urban-container li:first-child {
    display: none;
  }

  .urban-container li:last-child {
    display: none;
  }

  .newsletter {
    padding: 0px;
  }

  .cadastre-container {
    max-width: 380px;
    height: 200px;
    margin: 20px 0;
  }

  .cadastre-info {
    max-width: 380px;
    float: none;
  }

  .cadastre-info h3 {
    color: #656667;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .cadastre-info p {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .btn-cadastrar {
    margin-top: 20px;
    margin-right: 20px;
    padding: 20px;
    width: 340px;
  }

  .informacoes-gerais-container {
    width: 380px;
    display: grid;
  }

  .informacoes-gerais h4::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #494a4a;
    margin: 8px auto;
  }

  .pgto {
    display: grid;
  }


}
